* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 999;
    position: relative;
}


nav{
    height: 80px;
}

.nav-head{
    line-height: 80px;
    display: inline-block;
    margin-left: 40px;
    color: black ;
}

.head{
    height: 850px;
    background-color: #FFFFFF;
}


.overlay-content{
    float: right;
    margin-right: 40px;
    list-style: none;
}


.overlay-content .overlay-li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.overlay-content .overlay-li .overlay-a {
    text-decoration: none;
    font-weight: lighter;
    color: black;
    font-weight: 900;
}



.hero{
    margin-top: 10%;
    padding: 50px;
    position: relative;
}

.hero-span{
    padding-top: 15px;
    display: block;
    font-size: 40px;
}

b{
    color: #F99417;
}

.hero-desc{
    padding-top: 15px;
}

.hero-img{
    width: 680px;
    height: auto;
    float: right;
    right: 10%; 
    top: -60%;
    border-radius: 20%;
    z-index: 1;
    position: absolute;
}

.hero-button{
  margin-top: 20px;
  width: 17%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  font-weight: 900;
  background-color: black;
  border: 3px solid #F99417;
  padding: 10px;
  opacity: 1;
}

.hero-button>a{
  text-decoration: none;
  color: #F99417;
}

.hero-button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about{
    display: flex;
    height: 100vh; 
    background-color: #F5F8f8f8;
    padding: 50px;
}

.tentangsaya{
    width: 50%;
}

.tentangtitle{
    font-size: 20px;
}

.tentangdesc{
    padding-top: 10px;
    font-size: 35px;
}

.tentangp{
    padding-top: 10px;
}

.tentangkontak{
    padding-left: 100px;
    width: 50%;
}

.tentangskill{
    position: absolute;
    right: 0;
    top: 150%;
    padding: 15px;
    left: 2%;
    width: 45%;
}

.sosmed{
    font-size: 30px;
    color: black;
}

.sosmed > i{
    padding-top: 10px;
    padding-right: 10px;
}

.portfolio{
    height: 100vh;
    padding: 50px;
    background-color: #FFFFFF;
}

.portfolio > h3{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    display: flex;
}

.portdesc{
    padding-top: 10px;
    font-size: 35px;
}

.temp-card{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card{
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

.card-image{
    width: 100%;
    height: auto;

}

.card-title{
    font-size: 18px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: -5px;
}

.card-desc{
    font-size: 15px;
    padding-top: 20px;
    color: gray;
}

.card-pro > i{
    font-size: 25px;
    padding-top: 5px;
    padding-right: 5px;
}

.card-lang{
    padding-top: 10px;
    font-weight: 900;
}

.penghargaan{
    height: 100vh;
    padding: 50px;
    background-color: #F5F8f8f8;
}

.penghargaan > h3{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    display: flex;
}

.swiper {
    margin-top: 10%;
    width: 45%;
    border-radius: 25px;
    border: 5px solid #f5f8f8;
    height: 60%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 0px;
    height: 100%;
    object-fit: contain;
  }

  input, textarea, .hubbutton{
    margin: 4px 0;
    padding: 8px;
  }

  .hubungi{
    height: auto;
    padding: 50px;
    background-color: #FFFFFF;
  }

  .bar-span{
    margin-right: 10px;
  }

  .hubungi > h3{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    display: flex;
  }
  
  .hubdesc{
    padding-top: 10px;
    font-size: 35px;
  }
  

  footer{
    background-color: #111;
  }

  .footerContainer{
    width: 100%;
    padding: 70px 0px 20px;
  }

  .sosialIcons{
    display: flex;
    justify-content: center;
  }

  .sosialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
  }

  .sosialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }

  .sosialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
  }

  .sosialIcons a:hover i{
    color: #fff;
    transition: 0.5s;
  }

  .footerNav{
    margin: 30px 0;
  }

  .footerNav .footer-ul{
    display: flex;
    justify-content: center;
  }

  .footerNav .footer-ul .footer-li .footer-a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.;
    transition: 0.5s;
  }

  .footer-li{
    list-style: none;
  }

  .footerNav .footer-ul .footer-li .footer-a:hover{
    opacity: 1;
  }
  
  .footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }

  .footerBottom .footer-p{
    color: white;
  }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        position: relative;
        top: 20px;
        right: 20px;
        z-index: 1000;
        animation: fadeIn 0.8s ease-in-out;
        }

        .bar {
            width: 25px;
            border-radius: 20px;
            height: 3px;
            background-color: #333;
            margin: 3px 0;
            transition: 0.4s;
        }


        .navbar.open .bar:nth-child(1) {
            transform: rotate(-55deg) translate(-7px, 6px);
        }

        .navbar.open .bar:nth-child(2) {
            opacity: 0;
        }

        .navbar.open .bar:nth-child(3) {
            transform: rotate(55deg) translate(-5px, -6px);
        }

        .container{
            width: 85%;
            border-radius: 6px;
            padding: 20px 60px 30px 40px;
          }
          .container .content{
            display: flex;
            padding-top: 100px;
            align-items: center;
            justify-content: space-between;
          }
          .container .content .left-side{
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            position: relative;
          }
          .content .left-side::before{
            content: '';
            position: absolute;
            height: 70%;
            width: 2px;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            background: #afafb6;
          }
          .content .left-side .details{
            margin: 14px;
            text-align: center;
          }
          .content .left-side .details i{
            font-size: 30px;
            color: #F99417;
            margin-bottom: 10px;
          }
          .content .left-side .details .topic{
            font-size: 18px;
            font-weight: 500;
          }
          .content .left-side .details .text-one,
          .content .left-side .details .text-two{
            font-size: 14px;
            color: #afafb6;
          }
          .container .content .right-side{
            width: 75%;
            margin-left: 75px;
          }
          .content .right-side .topic-text{
            font-size: 23px;
            font-weight: 600;
            color: #F99417;
          }
          .right-side .input-box{
            height: 50px;
            width: 100%;
            margin: 12px 0;
          }
          .right-side .input-box input,
          .right-side .input-box textarea{
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            background: #F0F1F8;
            border-radius: 6px;
            padding: 0 15px;
            resize: none;
          }
          .right-side .message-box{
            min-height: 110px;
          }
          .right-side .input-box textarea{
            padding-top: 6px;
          }
          .right-side .button{
            display: inline-block;
            margin-top: 12px;
          }
          .right-side .button button[type="button"]{
            color: #fff;
            font-size: 18px;
            outline: none;
            border: none;
            padding: 8px 16px;
            border-radius: 6px;
            background: #F99417;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          .button button[type="button"]:hover{
            background: #F99417;
          }
          @media (max-width: 950px) {
            .container{
              width: 90%;
              padding: 30px 40px 40px 35px ;
            }
            .container .content .right-side{
             width: 75%;
             margin-left: 55px;
          }
          }
          @media (max-width: 820px) {
            .container{
              margin: 40px 0;
              height: 100%;
            }
            .container .content{
              flex-direction: column-reverse;
            }
           .container .content .left-side{
             width: 100%;
             flex-direction: row;
             margin-top: 40px;
             justify-content: center;
             flex-wrap: wrap;
           }
           .container .content .left-side::before{
             display: none;
           }
           .container .content .right-side{
             width: 100%;
             margin-left: 0;
           }
          }

        @media only screen and (max-width: 768px) {
            body{
                overflow-x: hidden;
            }

            .head{
              height: 110vh;
            }

            .hero{
              top: 38%;
            }

            .hero-img{
              width: 90%;
              top: -175%;
            }

            .hero-span{
                font-size: 33px;
            }
            
            .nav-head{
                font-size: 20px;
            }

            .overlay-content {
                display: none;
                position: absolute;
                background-color: #fff;
                border: 1px solid black;
                border-radius: 10px;
                width: 100%;
                text-align: center;
                top: 80px;
            }

            .overlay-content a {
                display: block;
                padding: 10px;
                font-size: 10.5px;
                color: #333;
                text-decoration: none;
                transition: background-color 0.3s ease;
            }

            .overlay-content a:hover {
                background-color: #ddd;
            }

            .navbar.open .overlay-content {
                display: block;
            }

            .hamburger {
                display: flex;
                float: right;
            }

            .about {
                flex-direction: column;
                align-items: center;
                height: auto;
            }
        
            .tentangsaya, .tentangkontak, .tentangskill {
                width: 100%;
                margin-bottom: 10px;
                padding: 0 20px;
                text-align: center;
            }
        
            .tentangkontak {
                padding-left: 0; 
            }
        
            .tentangskill {
                position: static;
                margin-top: 20px; 
            }

            .portdesc{
                font-size: 22px;
            }
        
            .hubdesc{
                font-size: 22px;
            }

            .portfolio {
                padding: 20px;
                height: auto;
            }
        
            .temp-card {
                flex-direction: column;
                align-items: center;
            }
        
            .card {
                width: 100%;
                margin-bottom: 20px;
            }

            .swiper {
                margin-top: 10%;
                width: 65%;
                border-radius: 25px;
                border: 5px solid #f5f8f8;
                height: 32%;
              }

              .overlay-content{
                width: 23%;
                padding: 5px;
                transform: translateX(275%);
              }

              .overlay-content .overlay-li{
                line-height: 35px;
                }


              .overlay-content .overlay-li .overlay-a{
                padding: 0;
                }

              .hero-button{
                width: 100%;
              }

              .footerNav .footer-ul .footer-li .footer-a{
                font-size: 15px;
                margin: 3px;
              }

              .container{
                margin-left: -50px;
              }

              .container .left-side{
                margin-left: 65px;
              }

              .container .button{
                width: 105.5%;
              }

              .container{
                padding-top: 0;
              }
        }


        @media only screen and (max-width: 450px){
            .hero-img{
              top: -75%;
            }

            .portdesc{
              font-size: 25px;
              text-align: justify;
            
          }
        }
 
